* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .turntable {
    margin: auto;
    position: relative;
    width: 900px;
    height: 900px;
    background: url("https://lh3.googleusercontent.com/MA5gvUYTug5KmN3F7rPXM8mHWXypCJZlcWtLnpDxnqKRcWMCFW_4__Z9ykcGEVkimSSMWAYo2kHO_PVCo7mexunBuX-9qSFMatJuYYaOjUjFeOPcFz7oOTiAoO1JU8sGnBWp3qvUnoJTZQGRodkk_NTbXcHOUf-lTvLeg2n2RCTtwL1Q5-XIJwfS02x2JqHVLp1bAfYm-2zggWCyfNQf8C13LLplIokY9Fw_1wXx_22LA0AsUAudtzuqIhtqFmj-JS8hY_P3QbtVnaMWtQTDmRMJTZMibC7ZxHyhs11LQqOp3NkHWnWZfTB8lOqAL_zUAVs1MWeFoE2EIhgY5M9D1uv27YLvVCGzSNTmFXeEah5PfC-g6wzNLrnr9cbdxybdwsN1TbREXbXhaPxJkixE5QrLiF0tN8nW1HFxgDGfLrCDXlrW-4x7q8_A1xh1ffDxq9NXpgNXE6iKSOuba6JZuzcCXTRqVNdWvrYEXKON7fAS37ieq-FcBiDphLbeGalIg-n1nk3dOFKmJ-BLiEsGAGKMy6_fMZJT_CsbCJo8b-rx7SPmcxpVwsdiC53ohCm4U2HqbOGXBGZKQsUcyvNGO3McwJxMTuL0wYuIR1_dZBqKCMwO_7zT9yO3jz7krhbl-KpPLzwC7mnhxdLKKPRs7YrV-hHaAVUG6Nw-bIm5M70MSSJCtPe6ppN1S9uhfA=s648-no?authuser=0") 0 0/cover no-repeat;
  }

  .turntable .start {
    position: absolute;
    width: 87px;
    height: 87px;
    top: 50%;
    left: 50%;
    margin: -44px 0 0 -44px;
    border: 0 none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
  }

  .turntable .pointer {
    position: absolute;
    width: 650px;
    height: 650px;
    top: 22.7%;
    left: 23%;
    margin: -87px 0 0 -87px;
    /* background-image: url('https://i.imgur.com/uUioK70.gif'); */
    background-image: url('https://lh3.googleusercontent.com/D9wPfh1-xtlLtRDgjI18cjF0Gql4o1ZkWqzrx1KVpgRCaF7UWOpcdiu8g23ute0tFhfDqvdA1kGVkVMMjWbuq_e5hXEjVJRVF1ZYJlvApvdCqUnxSHxxBIiUw30sYW2adu8FIJN2StQh8Q9qbAqKXHKrHy08yckuDXR9vbKfpSHc-MMzs0hepSXaI2AP24-YJXz-fuujCVXuLYJxckDzrBTnFdFf8JPqGSW1BxUeqIb5DBKo6tgrK8vxmyeB8ozscVCEx553NPSDF2BxaO3z-amcwdpu1KsYhWEKHH0uv407uV2G-5gwAZ2xuooQ9Dx_yhWT0XXqDfqpPxyaveEIrWNmiRtjT9FDBzPLd4wIkH16Cvtpms7bD2a8n7boi11E1l8CpiBm24TWPtjMzWWkANJOIXYEPPwXTqWvuuVGV8GXw5dsS511g_-0UOnwgzbgNHFlUga1rjl-d2vXT7UfOBBSMkJQF3wpUMUrF3xvKYgH2GRjjooQycdIIZf7SD4FNi360thA6i-P-WG952Xp302UB3KjyWWSgvoAVeh4Mhe_WGpMgYF9DRH53ZOpX-IY3nY_PgTsOA5ir8-EX506gzyHg2SLhQfwe-Aj7SDHeM7hz0dlk3FqLA5dN8TjBTZuYGYtqvrG5dS-B3A8KtjKQItZZsNzOPhLhbKTG92qMOje73Rc0JCzUQfRKtV6fg=s648-no?authuser=0');

    background-repeat:no-repeat;
  }

