* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .turntable {
    margin: auto;
    position: relative;
    width: 900px;
    height: 900px;
    background: url("https://upload.cc/i1/2021/01/26/quvjpV.png") 0 0/cover no-repeat;
  }

  .turntable .start {
    position: absolute;
    width: 87px;
    height: 87px;
    top: 50%;
    left: 50%;
    margin: -44px 0 0 -44px;
    border: 0 none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
  }

  .turntable .pointer {
    position: absolute;
    width: 650px;
    height: 650px;
    top: 22.7%;
    left: 23%;
    margin: -87px 0 0 -87px;
    /* background-image: url('https://i.imgur.com/uUioK70.gif'); */
    background-image: url('https://lh3.googleusercontent.com/D9wPfh1-xtlLtRDgjI18cjF0Gql4o1ZkWqzrx1KVpgRCaF7UWOpcdiu8g23ute0tFhfDqvdA1kGVkVMMjWbuq_e5hXEjVJRVF1ZYJlvApvdCqUnxSHxxBIiUw30sYW2adu8FIJN2StQh8Q9qbAqKXHKrHy08yckuDXR9vbKfpSHc-MMzs0hepSXaI2AP24-YJXz-fuujCVXuLYJxckDzrBTnFdFf8JPqGSW1BxUeqIb5DBKo6tgrK8vxmyeB8ozscVCEx553NPSDF2BxaO3z-amcwdpu1KsYhWEKHH0uv407uV2G-5gwAZ2xuooQ9Dx_yhWT0XXqDfqpPxyaveEIrWNmiRtjT9FDBzPLd4wIkH16Cvtpms7bD2a8n7boi11E1l8CpiBm24TWPtjMzWWkANJOIXYEPPwXTqWvuuVGV8GXw5dsS511g_-0UOnwgzbgNHFlUga1rjl-d2vXT7UfOBBSMkJQF3wpUMUrF3xvKYgH2GRjjooQycdIIZf7SD4FNi360thA6i-P-WG952Xp302UB3KjyWWSgvoAVeh4Mhe_WGpMgYF9DRH53ZOpX-IY3nY_PgTsOA5ir8-EX506gzyHg2SLhQfwe-Aj7SDHeM7hz0dlk3FqLA5dN8TjBTZuYGYtqvrG5dS-B3A8KtjKQItZZsNzOPhLhbKTG92qMOje73Rc0JCzUQfRKtV6fg=s648-no?authuser=0');



    background-repeat:no-repeat;
  }

